Vous devez réussir à récupérer le plus de fruits possible dans votre panier !

Vous allez devoir incliner votre téléphone afin de faire bouger votre panier.

Attention ! Des bombes sont dissimuler au milieu des fruits et vous ferons perdre une vie !

On retrouve également des étoiles qui vous offrirons une vie supplémentaire.
