Vous devez réussir à récupérer le plus de fruits possibles dans votre panier !

Vous allez devoir incliner votre téléphone afin de faire bouger votre panier.

Attention ! Des bombes sont dissimulées au milieu des fruits et vous feront perdre une vie !

On retrouve également des étoiles qui vous offriront une vie supplémentaire.
